/* @import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
 */
@config "../tailwind.config.ts";
@import "tailwindcss";



html, body {
  margin:0;
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}


/* :root{
  --font-mono : var(--font-ibm);
  --font-unbounded : var(--font-unbounded);
} */


/* @media (prefers-color-scheme: dark) { */
  html, body {
    background: #000;
    color : #fff;
  }
/* } */



@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}



/* @custom-variant dark (&:where(.dark, .dark *)); */


/* @theme {
  --font-sekuya: 'Sekuya', sans-serif;
  --color-primary: #3b82f6;
  --color-primary-dark: #2563eb;
  --color-primary-light: #60a5fa;
  
  --color-secondary: #8b5cf6;
  --color-secondary-dark: #7c3aed;
  --color-secondary-light: #a78bfa;
  
  --color-accent: #f59e0b;
  --color-accent-dark: #d97706;
  --color-accent-light: #fbbf24;
  
  --color-success: #10b981;
  --color-error: #ef4444;
  --color-warning: #f59e0b;
  --color-info: #3b82f6;
} */


@import "tailwindcss";

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

