/* @import "tailwindcss/theme.css";
@import "tailwindcss/utilities.css";
 */
@config "../tailwind.config.ts";
@import "tailwindcss";



html, body {
  margin:0;
  width: 100%;
  max-width: 100%;
  overflow-x: clip;
}



.no-scrollbar::-webkit-scrollbar {
  display: none;
}


/* :root{
  --font-mono : var(--font-ibm);
  --font-unbounded : var(--font-unbounded);
} */


/* @media (prefers-color-scheme: dark) { */
  html, body {
    background: #000;
    color : #fff;
  }
/* } */



@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}



/* @custom-variant dark (&:where(.dark, .dark *)); */


@keyframes spotlight {
  0% {
    opacity: 0;
    transform: translate(-72%, -62%) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -40%) scale(1);
  }
}


@import "tailwindcss";

@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);

    --animate-spotlight: spotlight 2s ease 0.75s 1 forwards;
}

